:root {

  /* Brand colors */
  --brand-color1: #4263EB;
  --brand-color2: #364FC7;

  /* Grey colors */
  --grey-color1: #0A0C0D;
  --grey-color2: #212529;
  --grey-color3: #495057;
  --grey-color4: #868E96;
  --grey-color5: #DEE2E6;
  --grey-color6: #F8F9FA
  --grey-opacity-1: rgba(33, 37, 41, 0.5)
  --whiteFixed: #FFFFFF

  /* FeedBack Pallet */
  --like-color: #D7443E;
  
  /* Font Weigths */
  -font-weigth1: 700;
  -font-weigth2: 600;
  -font-weigth3: 400;
  
  /* Font Sizes */
  --font-size1: 1.75rem,
  --font-size2: 1.25rem;
  --font-size3: 1rem;
  --font-size4: 0.875rem;
  --font-size5: 0.75rem;

  /* Line Heigths */
  --line-heigth1: 2.5rem;
  --line-heigth2: 1.75rem;
  --line-heigth3: 1.5rem;
  --line-heigth4: 1rem;
}