.userCard__img {
  height: 3.125rem;
}

body {
  margin: 0 auto;
}

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 6.25rem;
}

.navBar {
  color: var(--whiteFixed);
  background-color: var(--grey-color1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4.3rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;

  position: fixed;
  top: 0;
}

.navBar__img {
  height: 1.5rem;
}

.userSection__container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  margin: 1.2rem 0;
}

.newPost__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 65%;
}

.newPost__container form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 0.93rem;
  height: 80%;
}

.suggestions__container {
  width: 35%;
}

.userCard__container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.userCard__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.newPost__btnSubmit {
  width: fit-content;
  height: fit-content;

  background-color: var(--brand-color1);
  color: var(--whiteFixed);

  border: none;
  border-radius: var(--radious-default);

  padding: var(--btn-padding1);
}

.newPost__btnSubmit:hover {
  background-color: var(--brand-color2);
}

.suggestions__followBtn {
  width: fit-content;
  height: fit-content;

  background-color: var(--whiteFixed);
  color: var(--grey-color1);

  border: 1px solid var(--grey-color1);
  border-radius: var(--radious-default);

  padding: var(--btn-padding2);
}

.suggestions__followBtn:hover {
  background-color: var(--whiteFixed);
  border: 1px solid var(--brand-color2);
  color: var(--brand-color2);
}

.suggestions__followBtn:focus {
  background-color: var(--brand-color2);
  color: var(--whiteFixed);
  border: none;
}

.userPost__openBtn {
  width: fit-content;
  height: fit-content;
  padding: var(--btn-padding1);

  background-color: var(--grey-color2);
  color: var(--whiteFixed);

  border-radius: var(--radious-default);
}

.userPost__openBtn:hover {
  background-color: var(--grey-color1);
}

.newPost__tittle,
.newPost__content {
  padding: 0.625rem;
  width: 100%;

  border: 1px solid var(--grey-color4);
  border-radius: 3px;
}

.newPost__tittle:focus,
.newPost__content:focus {
  border: 1px solid var(--brand-color2);
}

.newPost__content {
  height: 50%;
  resize: none;
}

.suggestions__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-top: 1.5rem;
}

.suggestions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed__container {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-bottom: 4rem;
}

.userPost__container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.userPost__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.openBtn__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.openBtn__container div {
  display: flex;
  align-items: center;
  gap: 8px;
}
